.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background: #111;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px;
  z-index: 9999;

  border-top: 3px solid #b05801;
  box-shadow: 0 -3px 10px rgba(0,0,0,0.25);
}

.footer-text {
  font-size: 14px;
  opacity: 0.8;
}

.lang-btn {
  background: #b05801;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;
}

.lang-btn:hover {
  background: #d07a15;
}

@media (max-width: 480px) {
  .footer {
    height: 60px;
    padding: 0 18px;
  }

  .footer-text {
    font-size: 12px;
  }

  .lang-btn {
    padding: 7px 14px;
    font-size: 14px;
  }
}
