*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
#p{
    color:#b05801;
}
.wrapper{
    width: 400px;
    max-width: 90%;
    color: #b05801;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(50px);
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    margin: 80px auto;  
}

.wrapper h1{
    text-align: center;
    font-size: 35px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    font-size:16px;
    color: #b05801;
    padding: 20px 50px 20px 20px;
}

.input-box input::placeholder{
    color: #b05801;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #fff;
    color:#b05801;
    font-size:18px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.wrapper .register-link{
    margin: 20px 0 15px 0;
    text-align: center;
    font-size: 14px;
}

.register-link a{
    color: #0059ff;
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
    color:#00e5ff;
}
@media screen and (max-width: 480px) {
    .wrapper {
        padding: 30px 20px; 
        margin: 50px auto;
        border-radius: 15px;
        backdrop-filter: blur(30px);
    }

    .wrapper h1 {
        font-size: 28px;
    }

    .input-box input {
        padding: 15px 40px 15px 15px;
        font-size: 14px;
    }

    .input-box .icon {
        font-size: 14px;
        right: 15px;
    }

    .wrapper button {
        height: 45px;
        font-size: 16px;
    }

    .register-link {
        font-size: 12px;
        margin: 15px 0 10px 0;
    }
}
