*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 420px;
    max-width: 90%; /* يسمح بالتقلص على الشاشات الصغيرة */
    color: #b05801;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(50px);
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    margin: 80px auto;  
}

.wrapper h1{
    text-align: center;
    font-size: 35px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    font-size:16px;
    color: #b05801;
    padding: 20px 50px 20px 20px;
}

.input-box input::placeholder{
    color: #b05801;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #fff;
    color:#b05801;
    font-size:18px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.wrapper .register-link{
    margin: 20px 0 15px 0;
    text-align: center;
    font-size: 14px;
}

.login-link a{
    color: #00a2ff;
    font-weight: 600;
}
.login-link a:hover{
    text-decoration: underline;
    color:#a0e8f0;
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 30px 20px;
        margin: 50px auto;
        border-radius: 15px;
        backdrop-filter: blur(30px);
    }

    .wrapper h1 {
        font-size: 28px;
    }

    .input-box input {
        padding: 15px 40px 15px 15px;
        font-size: 14px;
    }

    .input-box .icon {
        font-size: 14px;
        right: 15px;
    }

    .wrapper button {
        height: 45px;
        font-size: 16px;
    }

    .register-link {
        font-size: 12px;
        margin: 15px 0 10px 0;
    }
}



.description {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.9;
}

.locations {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.locations p {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 500;
  color: #b05801;
}

.locations label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #b05801;
}

.locations input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}


.desc-input {
    width: 100%;
    height: 80px;
    resize: none;
    border: 2px solid rgba(255,255,255,0.2);
    background: transparent;
    border-radius: 10px;
    padding: 12px 15px;
    color: #b05801;
    font-size: 14px;
    outline: none;
    margin-top: 10px;
}

.desc-input::placeholder {
    color: #b05801;
    opacity: 0.8;
}
