@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration:none ;
}
body{
  background:url('./assets/background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  background-color: #f5f5f5;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
body::after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html[lang="ar"] {
  direction: rtl;
  text-align: right;
}

html[lang="en"] {
  direction: ltr;
  text-align: left;
}
